@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/public/images/hero-background.webp"); /* Add your background image path */
    /* background-size: cover; */
    background-position: center;
    /* padding: 20px 0; */
    color: #fff;
}
